h1 {
    color:#eeb9d4;
}

h2 {
    color:#8dc82d
}

h3 {
    color:#f1a310
}

.one {
    font-size: 20px;
    font-weight: lighter;
    text-align:center;
}

.title {
    font-size: 2.5em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:underline;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.gif {
    text-align: center;
}

.banner {
    font-size: 2.1em;
}
